* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}
body{
background-color: #110631;
}

#intro {

    display: flex;
    justify-content: center;
    align-items: center;


}

#intro img {
    height: 750px;
    width: 750px;
   
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 140px;

}

#button button {

    text-align: center;
    background-color: #72EC70;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-size: 20px;
    font-size: 37px;
    cursor: pointer;
    border: 0px solid;

}

#button a{

    text-decoration: none;
    list-style: none;
    color: #110631;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#button button:hover{

    background-color:#36868F;
    
}
#footer{
    width: 100%;
    height: 73px;
    background-color: #110631;
}
